.index {
    text-align: center;
    color: green;
}
.bananabread {
    text-align: center;
}
.beefstew {
    text-align: center;
}
.blueberrymuffin {
    text-align: center;
}
.butternutsquashsoup {
    text-align: center;
}
.homemadebutter {
    text-align: center;
}
.pizzaghetti {
    text-align: center;
}
.pumpkinpiecake {
    text-align: center;
    text-color: green;
    list-style-position: inside;
    background-color: #F56C3C;
}
.imagescaling {
    height: 500px;
    width: auto;
}
.textwrap {
    inline-size: auto;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: center;
}
#liststables {
    list-style: none;
    display: inline-block;
    text-align: left;
}
#liststablesnumbered {
    display: inline-block;
    text-align: left;
}